cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Image_and_Video_Editing_Software.pdb
cmake-build-debug/Image_and_Video_Editing_Software.ilk
cmake-build-debug/Image_and_Video_Editing_Software.exe
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
cmake-build-debug/CMakeFiles/ShowIncludes/main.c
cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/Image_and_Video_Editing_Software.dir/vc140.pdb
cmake-build-debug/CMakeFiles/Image_and_Video_Editing_Software.dir/manifest.res
cmake-build-debug/CMakeFiles/Image_and_Video_Editing_Software.dir/manifest.rc
cmake-build-debug/CMakeFiles/Image_and_Video_Editing_Software.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/Image_and_Video_Editing_Software.dir/intermediate.manifest
cmake-build-debug/CMakeFiles/Image_and_Video_Editing_Software.dir/embed.manifest
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.obj
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.obj
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.exe
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-972c02320470f57b00f8.json
cmake-build-debug/.cmake/api/v1/reply/target-Image_and_Video_Editing_Software-Debug-cc4698044cd3613c98e8.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-05-17T15-17-15-0209.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-196dd07acc76bc879be7.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-cad5d275170286a7d18e.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-6e45b5629f9d959d8bd5.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/Image-and-Video-Editing_Software.iml
.idea/.name
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
cmake-build-debug/.cmake/api/v1/reply/cache-v2-ffe8e4d2c74813c2c4e8.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a5fb4219f4e93655932f.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-52c2e6e645165f5be6a2.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-05-26T06-38-09-0876.json
cmake-build-debug/.cmake/api/v1/reply/target-Image_and_Video_Editing_Software-Debug-8cb0956f04bec20fca85.json
cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.exe
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.obj
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.obj
cmake-build-debug/CMakeFiles/CMakeError.log